@import 'reset';
@import 'animations';
@import 'colors';
@import 'components';

root {
  font-family: 'Work Sans', sans-serif;
}

// Burger menu

.burger__btn {
  position: fixed;
  right: 20px;
  top: 30px;
  background-color: transparent;
  height: 60px;
  width: 60px;
  z-index: 10;
}

.burger__box {
  position: relative;
  width: 80%;
  padding: 5px;
}

.burger__bar {
  @include burger__line;

  &::before {
    @include burger__line;
    content: '';
    top: -15px;
    left: 0px;
  }

  &::after {
    @include burger__line;
    content: '';
    top: 15px;
    left: 0px;
  }
}

.active.burger__bar {
  background-color: transparent;

  &::before {
    transform: translateY(15px) rotate(45deg);
  }
  &::after {
    transform: translateY(-15px) rotate(-45deg);
  }
}

// Nawigacja mobilna

.navigation {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background-color: $reddish-color;
  @include flex__center;
  flex-direction: column;
  transition: transform 0.2;
  z-index: 5;

  &--active {
    transform: translateX(100vw);
  }
  li {
    // display: block;
    margin: 0.5rem;
    list-style: none;
    font-size: 1.75rem;
    text-decoration: none;
    // padding: 4rem;

    :hover {
      color: $gold-color;
    }
    :focus {
      color: $gold-color;
    }

    a {
      display: inline-block;
      width: 100%;
      padding: 50px;
      color: $dark-color;
    }
  }
}

// Header

.section {
  height: 80vh;
  max-width: 100vw;
  background-color: $dark-color;
  border-bottom: 4px solid $gold-color;
}

.header__name {
  background-image: linear-gradient(
      140deg,
      rgba(0, 1, 16, 0.6) 40%,
      transparent 60%
    ),
    url('/img/lq/barber-shop-g159939170_640.jpg');
  background-size: cover;
  background-position: 75%;
  color: $gold-color;
  position: relative;

  h1 {
    width: 80vw;
    font-size: 4rem;
    position: relative;
    top: 10%;
    left: 5%;
  }
  h6 {
    width: 80vw;
    font-size: 1.5rem;
    position: relative;
    top: 10%;
    left: 5%;
  }
}

// CTA Button

.cta__container {
  @include flex__center;
  position: absolute;
  top: 60%;
  left: 50%;
  height: 60px;
  width: 150px;
  transform: translateX(-50%);

  a {
    @include flex__center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 200px;
      width: 30px;
      transform: translate(0%, 0%);
      background-color: $reddish-color;
      animation: rotating-button 7s linear infinite;
    }

    button {
      text-transform: uppercase;
      font-size: 16px;
      box-sizing: border-box;
      height: 95%;
      width: 95%;
      border-radius: 10px;
      background-color: $gold-color;
      z-index: 2;
      box-shadow: inset 0px 0px 42px -11px rgba(66, 68, 90, 1);
    }
  }
}

// Arrows from header

.scroll__container {
  position: relative;
}

.scroll__arrow {
  width: 30px;
  height: 30px;
  border-top: 2px solid $gold-color;
  border-right: 2px solid $gold-color;
  transform: translateX(-50%) rotate(135deg);
  position: absolute;
  bottom: 50px;
  left: 50%;
  animation: glimmer-arrow 1.5s linear infinite;
  animation-delay: 0s;
}

.scroll__arrow:nth-child(2) {
  bottom: 40px;
  animation-delay: 0.4s;
}

.scroll__arrow:nth-child(3) {
  bottom: 30px;
  animation-delay: 0.8s;
}

// Section break

.section__break {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-color: #d00000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='177' height='177' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23bb0000' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  /* background by SVGBackgrounds.com */
  border-bottom: 4px solid $gold-color;
}

// Section our saloons

.section__title {
  color: $gold-color;
  font-size: 24px;
  position: absolute;
  top: 10px;
}

#our__saloons {
  @include flex__center;
  flex-direction: column;
  position: relative;
}

.saloon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: 90vw;
  margin: 4vw;

  &:nth-child(3) {
    flex-direction: row-reverse;
  }

  img {
    width: 48%;
    object-fit: cover;
  }

  .description {
    width: 48%;
    color: white;
  }
}

#our__team {
  @include flex__center;
  flex-direction: column;
  position: relative;

  .people {
    @include flex__center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;

    .person {
      width: 45%;
      max-height: 45%;
      position: relative;
      overflow: hidden;

      .description {
        @include flex__center;
        font-size: 16px;
        padding: 5px;
        background-color: $darker-gold-color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
      }

      img {
        max-height: 100%;
        width: 100%;
      }
    }

    .person:hover .description,
    .person:focus .description {
      visibility: visible;
    }
  }
}

#Contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  border: none;
  height: 30vh;

  .adress {
    color: white;

    span {
      font-size: 16px;
      display: block;
      margin: 2vh;
    }
  }

  .socials {
    font-size: 24px;
    color: white;

    i {
      margin: 2vh;
    }
  }
}
